@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}


:root{
  /*Primary*/

  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);

  /*Neutral*/

  --darkGrayishRed: hsl(0, 6%, 24%);

  /*Gradients*/

  - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
  - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
}

body {
  background-image: url("../images/bg-pattern-desktop.svg");
  margin: 0 auto;
}

span{
  color: var(--desaturatedRed);
  font-size: 1em;
  text-transform: uppercase;
}

footer{
  margin-top: 5%;
}

.main_card{
  padding-left: 10%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 25% 75%;
  grid-gap: 5px;
}

.logo_img{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.item-b{
  margin: 0 0;
  position: relative;
  height: auto;
  padding: 0;
  grid-column: 1/2;
  grid-row: 2;
}

.main_text{
  font-size:4em;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 80px;
}

.second_text{
  margin-top: 5%;
  margin-right: 20%;
  line-height: 30px;
  color: var(--desaturatedRed);
}

.item-c{
  grid-area: 1/2/3/4;
}

.model{
  max-width: 100%;
  object-fit:cover;
  object-position: top;
  }

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width:800px){
  body{
    width: 100%;
    margin: 0;
  }
  .main_card{
    width: 100%;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: 100px 350px auto;
  }

  .logo_img{
    margin-left: 10%;
    grid-column: 1;
    grid-row: 1/2;
  }

  .item-b{
    grid-column: 1;
    grid-row: 3/4;
  }
  .item-c{
    grid-column: 1;
    grid-row: 2/3;
  }
  .model{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
    }

  .main_text{
    padding: 10% 20% 5% 20%;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 40px;
    text-align: center;
  }

  .second_text{
    text-align: center;
    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 5%;
    margin: auto;
    line-height: 30px;
  }

  footer{
    margin-top: 5%;
  }
